@charset "UTF-8";

body {
   background-color: #2F397B;
   font-family: Georgia, serif;
}

h1 {
   color: #737BAF;
   text-align: center;
   text-shadow: -2px 6px 30px
   rgb(0, 0, 0),-3px 30px 40px 
}