<!DOCTYPE html>
<html lang="en-US">

<head>

	<meta charset="UTF-8" />
	<title></title>
</head>
<h1>Welcome to my URL Shortener page</h1>


<body>
	<!-- Create the form, include button so it is linked to the form. -->
	<form name="urlForm">
		<input type="text" name="url">
		<button id="submit" type="button">Submit</button>
		<p>Result:
			<!-- Output area. -->
			<span id="url-output"></span>
	</form>
	</p>
	<!-- Import jquery & a JavaScript script to add interactivity to the page. -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="js/script.js"></script>
</body>