<h3>Welcome to my URL Shortener page</h3>

<form action="/createShorter" method="POST">

    <input type = "text" name="url">

  <div class="form-group">
    <div class="col-sm-4">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>