<!DOCTYPE html>
<html lang="en-US"><head>

<meta charset="UTF-8" />
<h1>Welcome to my URL Shortener page</h1>

<body>
<form action="/createShorter" method="POST">

	<input type="text" name="url">

	<div class="form-group">
		<div class="col-sm-4">
			<button id="submit" type="button">Submit</button>
		</div>
	</div>
	<br>
   <p>Result:
      <span class="number-output" id="url-output"></span>
   </p>
	

</form>
</body>
<!-- Import jquery & a JavaScript script to add interactivity to the page. -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="js/script.js"></script>